body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.b-card {
  margin: 20px;
}

.b-card-image {
  border-radius: 52px;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 5px 3px #ccc;
}

.b-card-info {
 margin-top: 10px;
 min-height: 100px;
}

.b-card-title {
  font-size: 24px;
  margin: 0px;
}

.b-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color:#57A773;
  padding: 10px 15px;
}

.success-err {
  color:#EE6352;
  padding: 10px 15px;
}