body {
  background-color: black;
  background-image: url("./assets/images/BackgroundImage.png");
  background-repeat: no-repeat;

  margin: 0;
  font-family: 'Rubik', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rubik', sans-serif;
}

.b-card {
  margin: 20px;
}

.b-card-image {
  border-radius: 52px;
  width: 360px;
  height: 480px;
  box-shadow: 0px 0px 5px 3px #ccc;
}

.b-card-info {
 margin-top: 10px;
 min-height: 100px;
}

.b-card-title {
  font-size: 24px;
  margin: 0px;
}

.b-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color:#57A773;
  padding: 10px 15px;
}

.err-msg {
  color:#f33b23;
  padding: 10px 15px;
}